@import "/src/Utility/Variables.scss";

.navbar{
    position: sticky;
    top: 0;
    height: 12vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s ease-in-out;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    
    z-index: 4;

    &.active{
        background-color: rgba($base-color1, 0.05);
        box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.2);
    }

    @media (min-width: 2000px) {@import "/src/Utility/Variables.scss";
        height: 8vh;
    }

    // Triggers when width is less than 800px
    @media(max-width: 800px){

    }
}

.nav-links{
    display: flex;
    justify-content: space-between;
}

.link-box{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: end;

    >a{
        position: relative;
        text-decoration: none;
        color: $base-color2;
        font-size: 24px;
        font-weight: 500;
        margin: auto 24px;

        transition: 0.25s ease-in-out;

        &:hover{
            color: $base-color1;
            &::after{
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
        &::after{
            content: '';
            position: absolute;
            
            transform: scaleX(0);
            background-color: $base-color1;
            transition: 0.25s ease-in-out;
            width: 100%;    
            height: 4px;
            bottom: -10px;
            left: 0;
            transform-origin: bottom left;
        }
        
    }
}