body{
    margin: 0;
    padding: 0;
}

.app-window{
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: aliceblue;
    
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    // Triggers when width is larger than 2000px
    
}

.container{
    width: 70%;
    height: inherit;
    max-width: 2400px;
    margin: 0 auto;
    @media (min-width: 2000px) {
        
    }

    // Triggers when width is less than 800px
    @media(max-width: 800px){
        width: 90%;
    }
}